{% extends 'base.html' %}

{% block title %}About us{% endblock %}

{% block content %}
<H1 style="color:red"><b>ABOUT US</b></H1>
    <HR>
    <p>Amongst the numerous E-Commerce Websites our S&P Website has managed to mark its place in the india We provide user-friendly configuration options  and Variety of products.</p>
    <p>This is the main reason why we have bring our S&P to provide you best Quality Products at cheap rate.</p>
    <p>Our business stands a chance to outshine with competitors and build an impact on the target audience through our Website.</p>
{% endblock %}